.button.landing__page{
   width: 20rem;
   height: 3rem;
   background-color: var(--primary-color);
   border-radius: 8px;
   font-size: 1rem;
   color: var(--grey-100);
   font-weight: 500;
   border: none;
}

.button.form{
   width: 16rem;
   height: 3rem;
   background-color: var(--primary-color);
   border-radius: 8px;
   font-size: 1rem;
   color: var(--grey-100);
   font-weight: 500;
   border: none;
}

.button.header{
   height: 2.5rem;
   width: 4rem;
   background-color: var(--grey-200);
   border: none;
   color: var(--grey-400);
   font-weight: 400;
   font-size: 1rem;
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.button.DarkMode{
   height: 2.5rem;
   width: 6rem;
   background-color: transparent;
   border: solid 1px var(--primary-color);
   color: var(--primary-color);
   font-weight: 700;
   font-size: 1rem;
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   line-height: 1rem;
}

@media screen and (min-width:768px){
   .button.landing__page{
      width: 15rem;
   }
}
@media screen and (min-width:1024px){
   .button.form{
      width: 20rem;
      margin-top: 1rem;
   }
}